<p>observables works!</p>

<h3 *ngFor="let i of data" class="bg-warning text-white p-3 m-3 text-center">{{i}}</h3>

<hr>
<button class='btn btn-primary m-2 p-2' (click)="getData1()">Observable 1</button>

<button class='btn btn-primary m-2 p-2' (click)="getData2()">Observable 2</button>

<button class='btn btn-primary m-2 p-2' (click)="getData3()">Observable 3</button>

<button class='btn btn-primary m-2 p-2' (click)="getData4()">Observable 4</button>

<button class='btn btn-primary m-2 p-2' (click)="getData5()">Observable 5</button>
