<h1>Services {{id}}</h1>
<ul>
    <li *ngFor="let service of products">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{service.id}}. {{service.name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{service.price}}</h6>
        </div>
        </div>
    </li>
</ul>

<button class="btn btn-primary mx-2" (click)="getProductById(101)">101</button>
<button class="btn btn-primary mx-2" (click)="getProductById(102)">102</button>
<button class="btn btn-primary mx-2" (click)="getProductById(103)">103</button>
<button class="btn btn-primary mx-2" (click)="getProducts()">All Products</button>

<hr>

<div>
    <p class="bg-warning m-3 p-3" *ngFor="let c of categories">{{c.id}}. {{c.name}}</p>
</div>

<button class="btn btn-primary mx-2" (click)="getCategories()">Fetch Categories</button>