<p>input-and-output works!</p>
<app-a></app-a>
<app-products [id]="1" [name]="'Product 1'" [price]="100"></app-products>
<app-products [id]="2" [name]="'Product 2'" [price]="200"></app-products>
<app-products [id]="3" [name]="'Product 3'" [price]="300"></app-products>
<app-products [id]="4" [name]="'Product 4'" [price]="400"></app-products>
<hr>
<app-students [id]="101" [name]="'Alice'" [age]="20"></app-students>
<app-students [id]="102" [name]="'Bob'" [age]="22"></app-students>
<app-students [id]="103" [name]="'Charlie'" [age]="21"></app-students>

<hr>
<app-parent></app-parent>  